<h1>Users</h1>
{{title}}
{{#if users.length}}
{{#each users}}

<p>

    name: {{name}}
    <br>
    email: {{email}}
    <br>
    <a href="/users/{{id}}" target="_blank">About this user</a>
    <hr>
<form action="/friends/add-to-friends" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="_csrf" value="{{@root.csurf}}">
    <button type="submit" class="btn btn-primary">Add to friend</button>
</form>

</p>

{{/each}}
{{else}}
<p>
    No any users yet
</p>
{{/if}}